
.card {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #345b4e;
    border-radius: 1rem;
}

.time {
    width:15%;
    text-align: center;
}

.description {
    width:85%;
    text-align: left;
}

