
.card {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(52, 91, 78);
    border-radius: 1rem;
}

.time {
    width:15%;
    text-align: center;
}

.description {
    width:85%;
    text-align: left;
}

h2 {
    color:#20692c;
    font-size: medium;
}