.header {
    max-width: 60rem;
    margin: auto;
    padding: .5rem;
    display: flex;
    justify-content: center;
  }
  
  .list {
    display: flex;
    gap: 1rem;
  }
  
  .list a {
    text-decoration: none;
    color: var(--color-primary-700);
  }
  
  .list a:hover,
  .list a.active {
    color: #fff;
    text-decoration: underline;
  }